p{
  color: blue;
}

.cname{
  color: green;
}

#iname{
  color: black;
}

body h1{
  color: red;
}

h1{
  color: green;
}

h1,h2{
  font-weight: 600;
}

h1{
  font-weight: 200;
}

.green-font{
  color:green
}
.green-font{
  color:red
}
.blue-font{
  color: blue;
}