p {
  color: maroon;
}
h1,h2 {
  font-family: Aeial;
  color:grey;
}
h1 {
  border-bottom: 1px solid black;
}
h1 {
  font-size: 10vw;
}

body{
	color: firebrick;
  color: goldenrod;
  color: tan;
	color: rgb(143, 178, 201);
  color: rgb(148, 122, 201);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
}


body{
	background-color: rgb(143, 178, 201);
}


a{
    text-decoration: none;
}